/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.card{
  width: 0.1rem;
  flex: 1;
  margin-right:300%;

}

.main{
  flex: 1;
}

.baap{
  display: flex;
}


.logo{
  align:center ;
}

.footer{
  width:100%;
  height:10%;
}

@media only screen and (max-width: 845px) {
  /* .main{
    border-style: dotted;
  } */
  .main{
    display:block;
  }
  
  .baap{
    display:block;
  }
  .card{
    height:50%;
    width:90%;
    display:block;
  }

}

.search{
  text-decoration: none;
  color:black;
}

.search:hover{
  color:white;
}